<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <title>FORM</title>
</head>
<body>
    <p>change user form</p>
    

    <form action="/user/username" method="POST">
        <input type="text" name="newUsername" placeholder="new username" required> 
        <button type="submit">proceed</button>
      </form>
      <% if(!newUsername){ %>
    <p>username has been taken please try a different one</p>
    <%  } %>
     <div class="Home"><a href="/">Home</a></div>
</body>
</html>
