<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <title>FORM</title>
</head>
<body>
    <p>change password form</p>
    

    <form action="/user/password" method="POST">
        <input type="text" name="currentpassword" placeholder="previous password" required> 

        <input type="text" name="newpassword" placeholder="current password" required>
        <input type="text" name="newpassword2" placeholder="current password again" required>
        <button type="submit">Proceed</button>
      </form>
      <% if(!newpassCheck){ %>
    <p>new password needs to match</p>
    <%  } %>
    <% if(!passCheck){ %>
        <p>incorrect password try again</p>
     <%  } %>
     <div class="Home"><a href="/">Home</a></div>
</body>
</html>
