<div class="container">
<div class="homeHome"><a href="/">Home</a></div>
<div class="Message"><a href="/messages/test">Message</a></div>
<div class="Settings"><a href="/settings">Settings</a></div>
<div class="loginHome"><a href="/user/login">Login</a></div>
<div class="Logout"><a href="/user/logout">Logout</a></div>

